body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    text-decoration: none;
    list-style: none;
}

/* @media (min-width:820px){
    .nav-menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -36%);
    }
} */

@media (max-width:600px){
    .nav-btn{
        display: none;
    }
    .navbar {
        max-width: 100vw;
        height: 10vw;
    
        position: relative;
    }
    
    .nav-wrapper {
        max-width: 100%;
        padding: 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo-img {
        width: 20vw;
    }
    
    .nav-btn {
        padding: 1vw 2vw;
        border-radius: 8px;
        border: none;
        font-size: 2vw;
    }
    
    .login {
        border: 2px solid lightgray;
        background-color: transparent;
    }
    
    .create-acc {
        background-color: black;
        color: white;
        border: 2px solid black;
    }
    
    .nav-menu-ul {
        display: flex;
        gap: 1vw;
    }
    
    .nav-menu-item {
        list-style: none;
        font-weight: 500;
    }
    
    .nav-menu {
        display: none;
        position: absolute;
        left: 20vw;
        top: 50%;
        transform: translateY(-26%);
    }
    
    .main {
        background-color: #F0F5EF;
        height: 400px;
        max-width: 100%;
        /* padding: 1vw; */
        margin: 2vw;
        border-radius: 2vw;
    }
    
    .main-wrapper {
    
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    .main-header {
        font-size: 3.2vw;
    }
    
    .main-text {
        /* width: 39vw; */
        margin: auto;
        /* background-color: gray; */
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    
    .updated-date {
        background-color: #DBE5E0;
        width: 29vw;
        margin: auto;
        padding: 1vw 2vw;
        font-size: 2.5vw;
        border-radius: 12px;
        font-weight: 500;
    }
    
    .main-subtext {
        font-size: 3.6vw;
    }
    
     .main-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 3vw;
    }
    .main-img-container {
        width: 80vw;
        margin: auto;
        
    }
}

@media (min-width:601px) {
    .ham-icon{
        display: none;
    }
    .navbar {
        max-width: 100vw;
        height: 5vw;
    
        
    }
    
    .nav-wrapper {
        max-width: 100%;
        padding: 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .logo-img {
        width: 10vw;
    }
    
    .nav-btn {
        padding: .4vw .8vw;
        border-radius: 8px;
        border: none;
        font-size: 1vw;
    }
    
    .login {
        border: 2px solid lightgray;
        background-color: transparent;
    }
    
    .create-acc {
        background-color: black;
        color: white;
        border: 2px solid black;
    }
    
    .nav-menu-ul {
        display: flex;
        gap: 1vw;
    }
    
    .nav-menu-item {
        list-style: none;
        font-weight: 500;
    }
    
    .nav-menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    .main {
        background-color: #F0F5EF;
        height: 700px;
        max-width: 100%;
        /* padding: 1vw; */
        margin: 2vw;
        border-radius: 2vw;
        position: relative;
    }
    
    .main-wrapper {
    
        width: 53vw;
        margin: auto;
        text-align: center;
    }
    
    .main-header {
        font-size: 1.5vw;
    }
    
    .main-text {
        width: 100%;
        margin: auto;
        /* background-color: gray; */
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    
    .updated-date {
        background-color: #DBE5E0;
        width: 12vw;
        margin: auto;
        padding: .8vw 1vw;
        border-radius: 22px;
    }
    
    .main-subtext {
        font-size: 1.1vw;
    }
    
    .main-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 3vw;
    }
    
    .main-img-container {
        width: 80%;
        margin: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}